<% action_url = @cat.persisted? ? cat_url(@cat.id) : cats_url%>
<% form_method = @cat.persisted? ? "PATCH" : "POST" %>
<% button_text = @cat.persisted? ? "Edit this cat!!" : "Create the cat!"%>

<form action="<%=action_url%>" method="POST" >
  <input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">
<input type="hidden" name="_method" value="<%=form_method%>">

<label for="cat_name">Name</label>
<input name="cat[name]" id="cat_name" type="text" value="<%=@cat.name%>">
<br>

<label for="cat_birth">birthday</label>
<input name="cat[birth_date]" id="cat_birth" type="date" value="<%=@cat.birth_date%>">
<br>

<label for="cat_color">Cat Color</label>
<select name="cat[color]" id="cat_color">
  <%color = @cat.color%>
  <option></option>
  <%if color == "white"%>
  <option value="white" selected>White</option>
  <%else%>
  <option value="white">White</option>
  <%end%>
  <%if color == "yellow"%>
  <option value="yellow" selected>Yellow</option>
  <%else%>
  <option value="yellow">Yellow</option>
  <%end%>
  <%if color == "black"%>
  <option value="black" selected>Black</option>
  <%else%>
  <option value="black">Black</option>
  <%end%>
</select>
<br>


<label for="cat_sex_female">female</label>
<%sex = @cat.sex%>
<%if sex == 'F'%>
  <input name="cat[sex]" id="cat_sex_female" type="radio" value="F" checked>
<%else%>
  <input name="cat[sex]" id="cat_sex_female" type="radio" value="F">
<%end%>
<label for="cat_sex_male">male</label>
<%if sex == 'M'%>
  <input name="cat[sex]" id="cat_sex_male" type="radio" value="M" checked>
<%else%>
  <input name="cat[sex]" id="cat_sex_male" type="radio" value="M">
<%end%>
<br>

<label for="cat_description">description</label>
<textarea name="cat[description]" id="description"><%= @cat.description%></textarea>
<br>
<button><%=button_text%></button>
</form>
